.datePicker{
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
}

::-webkit-datetime-edit { padding: 2 em; }
::-webkit-datetime-edit-text { color: blue; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: blue; }
::-webkit-datetime-edit-year-field { color: blue; }
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=submit]{
    width: 150px;
    height: 35px;
    margin-top: 10px;
    background-color: blue;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    font-family: 'Fjalla One', sans-serif;

}

input[type=submit]:hover{
    transform: scale(1.1);
}